body {
	padding: 0;
	margin: 0;
}

audio { 
	margin: 15px auto;
	width: 100%;
}

.container {
	padding-top: 6%;
	background: linear-gradient(0deg, rgba(54,54,54,1) 0%, 
		rgba(54,54,54,0.95) 35%, rgba(54,54,54,0.85) 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.chat-container {
	margin: 10px auto;
	width: 500px;
	height: 300px;
	background: #fff;
	color: #363636;
	font-size: 14px;
	font-family: verdana;
	overflow: scroll;
}

.input-question {

	width: 500px;
}

.title {
	text-align: center;
	color: #fff;
	font-family: helvetica;
	text-transform: uppercase;
	font-size: 20px;
}

.field {
	width: 500px;
	line-height: 20px;
	margin: 20px auto;
	padding: 10px 5px;
	font-size: 14px;
	border: 0;
	border-bottom: 2px #ddd solid;
	color: #ddd;
	background: transparent;
}

.field:focus {
	outline: none;
}

button {
	display: block;
	background: #3395d6;
	font-size: 16px;
	color: #fff;
	padding: 10px 20px;
	border: 0;
	border-bottom: 2px #2772a4 solid;
	border-radius: 3px;
	text-shadow: 0.05em 0.05em black;
	width: 100px;
	margin-right: 15px;
}

button:hover {
	background: #54504C;
	border-bottom: 2px #363636 solid;
	cursor: pointer;
}

button:disabled {
	background: lightgray;
	border-bottom: 2px #54504C solid;
	pointer-events: none;
	text-shadow: none;
}

.controls {
	width: 500px;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto 10% auto;
}

.controls > button:last-child {
	margin-right: 0px;
}

.chat {
	border-radius: 5px;
	box-shadow: 0 0 6px #B2B2B2;
	display: block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
}

.bot {
	display: block;
	background: #3395d6;
	color: white;
	float: left;
	clear: both;
	margin: 5px 20px 15px 45px;
}

.bot:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #3395d6;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.me {
	display:block;
	clear: both;
	background: #EEE7E0;
	color: black;
	float: right;
	margin: 5px 45px 15px 20px;
}

.me:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #EEE7E0;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}
